@import "~@navikt/ds-css";
@import "~@navikt/ds-css-internal";

:root {
    --skjema-bredde: 1024px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--navds-semantic-color-border-inverted);
}

.skjema_konteiner {
    margin: 0 auto;
    max-width: var(--skjema-bredde);
    background-color: var(--navds-semantic-color-canvas-background);
}
